body{
	margin: 0;
	padding: 0;
			
	font-family: "PT Sans", Verdana, sens-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;

	background-color: #F2F2F2;
}
/*wrapper глобальные настройки*/
.wrapper{
	max-width: 1200px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.wrapper a{
	text-decoration: none;
}
.wrapper ul{
	list-style: none;
	padding: 0;
}
/*Прячем элементы*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Цвет ссылок в навигации*/
.site-navigation a{
	color: #000000;
	display: block;
}
.site-navigation a:hover{
	color: #81b3d2;
}
.site-navigation a:active{
	color: rgba(0,0,0,0.3);
}
.site-navigation .active{
	color: #766357;
	pointer-events:none;
}
.block-welcome{
	background-color: #8D888A;
	background-image: url(../img/background_photo_sedona.jpg);
	background-position: center;
}
/*Заголовок*/
.title h1{
	font-size: 21px;
	text-align: center;
	line-height: 26px;
}
.title p{
	font-weight: 400;
	text-align: center;
}
/*Блок описания и преимуществ*/
.feature-item-grey{
	background-color: #EEEEEE;
}
.feature-item-title,
.feature-item-text,
.feature-item-number{
	color: #FFFFFF;
}
.feature-item h3,
.feature-item h2{
	font-size: 21px;
	line-height: 21px;
}
.feature-item p,
.feature-item span{
	line-height: 21px;
	font-weight: 400;
}
/*Блок формы поиска и карты*/
.search-hotel-heading h3{
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}
.search-hotel-heading{
	line-height: 24px;
	font-weight: 400;
	text-align: center;
}
.search-hotel__item label,
.search-hotel__guest label,
.btn-search{
	cursor: pointer;
}
.search-hotel__item input,
.search-hotel__guest input{
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	font-weight:700;
  border: none;	
	background-color: #f2f2f2;
}
.search-hotel__item input:focus,
.search-hotel__guest input:focus,
.btn-search:focus{
	outline: none;
}
.search-hotel__item input:hover,
.search-hotel__guest input:hover{
	background-color: #ebebeb;
}
.search-hotel__item input:focus,
.search-hotel__guest input:focus{
	background-color: #FFFFFF;
  border:1px solid #E5E5E5;
}
/*Кнопки плюс и минус, согласно стайлгайду не оформлены*/
.btn-plus,
.btn-minus{
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  color: #A9A9A9;
  font-size: 14px;
  font-weight:700;
}
.btn-search{
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight:700;
	border: none;
}
.btn-brown{
	background-color: #766357;
	color: #ffffff;
}
.btn-brown:hover{
	background-color: #604E43;
}
.btn-brown:active{
	background-color: #503E33;
	color: rgba(255,255,255,0.3);
}
.btn-blue{
	background-color: #81B3D2;
	color: #ffffff;
}
.btn-blue:hover{
	background-color: #669EC0;
}
.btn-blue:active{
	background-color: #5496BD;
	color: rgba(255,255,255,0.3);
}
/*Блок футера*/
.vizitsedona a{
	font-size: 21px;
	color: #000000;
}
.developer-item{
	line-height: 26px;
}

/**************страница inner.html**************/

/*форма фильтра поиска гостиницы*/

.filter-form{
	width: 1200px;
	height: 220px;
	background-color: #85A0BE;
	background-image: url(../img/background_inner.jpg);
	background-size: cover;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	display: flex;
}
.filter-form legend,
.price-title{
	font-size: 16px;
	font-weight: 700;
}
.filter-form fieldset{
	border:none;
} 
.filter-price input,
.btn-filter{
	text-transform: uppercase;
	color: #ffffff;
	line-height: 21px;
	font-weight: 400;
	border: none;
	background-color: transparent;
	border:2px solid #ffffff;
}
.filter-option label,
.filter-price button,
.filter-price input{
	cursor: pointer;
}
.filter-price button:hover{
	background-color: #FFFFFF;
	color: #000000;
}
/*Информационная строка сортировки*/
.filter p{
	line-height: 21px;
}
.sort-price,
.filter-sort{
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
.sort-price a{
	color: rgba(0, 0, 0, 0.3);
	border-bottom:1px dotted #81B3D2;
}
.sort-price .active{
	color: #81B3D2;
}
.sort-price a:hover{
	color: #81B3D2;
}
.sort-price a:active{
	color: #000000;
	border-bottom: none;
}

/*Результаты поиска*/
.hotel-name a{
	color: #000000;
	font-size: 21px;
}
.hotel-name a:hover{
	color: #81B3D2;
}
.hotel-name a:active{
	color: rgba(0,0,0,0.3);
}
.filter-result p{
	line-height: 21px;
	font-weight: 400;
}
.filter-result .hotel-rating{ /*Пришлось добавить специфичности. "p.hotel-rating"-нельзя?*/
	color: #666666;
}
.filter-result .btn-blue,
.filter-result .btn-brown{
	line-height: 21px;
}
																		
				
/*******************************************/
/**                 Сетки                 **/
/* *****************************************/

/*Меню и блок Welcome*/
.main-navigation{
	position: relative;
}
.header-logo{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.site-navigation{
	margin: 0;
	display: flex;
	justify-content: space-between;
}
.site-navigation li{
	width: 20%;
	text-align: center;
	line-height:56px;
}
.site-navigation li:nth-child(2){ 
	margin-right: auto;
}
.block-welcome img{
	display: block;
	margin:0 auto;
}
.title-welcome{
	margin-top: 76px;
}
/*Блок преимуществ(feature-list)*/

.feature-list,
.feature-item-large{
	display: flex;
	flex-wrap: wrap;
}
.feature-large-block{
	background-color: #81b3d2;
}	
/*.feature-large-block,
.feature-item-grey,
.feature-item-white{
	width:33.3333%;
}*/
.feature-item,
.feature-large-block{
	width: 33.3333%;
}
.feature-item-large{
	width: 100%;
}
/*Футер*/
.main-footer{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	background: rgba(255, 255, 255, 0.9);
}
.block-footer{
	line-height: 120px; /*Насколько это правильно? Или лучше паддингом? */
	width:33.3333%;
  text-align: center;
}
.footer-social{
	display: flex;
	justify-content:center;
}
/***************inner.html******************/
/*Форма*/
.infrastructure-list,
.housing-list{
 	 padding: 0;
}
.filter-form{
	padding-left:72px;
	box-sizing: border-box;
}
.housing-list{
	margin-left: 115px;
}
.filter-price{
	margin-left: 349px;
}
.filter-form-result,
.sort-price,
.sort-range{
	display: flex;
}
.filter-form-result{
	align-items: baseline;
	border-bottom: 1px solid #e5e5e5;
}
/*Результаты сортировки гостиниц*/
.filter-result{
	display: flex;
	padding: 30px 72px;
	justify-content: space-between;
	border-bottom: 1px solid #e5e5e5;
}
.filter-result > p{
	margin-left: auto;
}
.filter-result-item{
	display: flex;
	width: 258px;
	margin-left: 30px;
	flex-direction: column;
}
.filter-result-details{
	display: flex;
	justify-content: space-between;
}
.filter-result-item h2{
	margin-top: 0;
	margin-bottom: 6px;
}
.filter-result-item p{
	margin-top: 0;
	margin-bottom: 11px;
}
.filter-result-details .btn-blue,
.filter-result-details .btn-brown{
	padding: 4px 16px;
}

